#site-head-content{
  padding: 1px 10px 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.post .share h4{
  margin-bottom: 10px;
}

.post .share a, .largeIcons{
  font-size: 200%;
}

a.btn{
  margin-bottom: 2rem;
  background-color: white;
  color: #222;
  padding: 10px 17px 10px 17px;
}

.post-footer{
  margin: 4rem 0 4rem 0;
  padding: 0;
  border-top: none;
}

.post-footer .share{
  position: relative;
  width: 100%;
  text-align: center;
  top: 0;
  margin-bottom: 0;
}

.post-footer .share a{
  margin: 0;
  color: #222;
}

.post-footer .share a:hover{
  color: #86c440;
}

.post-template .post-header{
  background-color: rgb(0, 153, 204);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
  color: white;
  padding: 1px 10px 20px 10px;
  margin-bottom: 4rem;
}

.fixed-nav{
  width: 20%;
}


.plans {
  width: 836px;
  margin: 50px auto;
  overflow: hidden;
}

.plan {
  float: left;
  width: 150px;
  margin: 20px 2px;
  padding: 15px 25px;
  text-align: center;
  background: white;
  background-clip: padding-box;
  border: 2px solid #e5ded6;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.plan-title {
  margin-bottom: 12px;
  font-size: 24px;
  color: #36bce6;
}

.plan-price {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  color: #fd935a;
}

.plan-unit {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.plan-features {
  width: 120px;
  margin: 20px auto 15px;
  padding: 15px 0 0 15px;
  border-top: 1px solid #e5ded6;
  text-align: left;
}

.plan-feature {
  line-height: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-left: 0px !important;
}
.plan-feature + .plan-feature {
  margin-top: 5px;
}

.plan-feature-unit {
  margin-left: 2px;
  font-size: 16px;
}

.plan-feature-name {
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.plan-button {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: #fd935c;
  border-bottom: 2px solid #cf7e3b;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.plan-button:active {
  top: 2px;
  margin-bottom: 2px;
  border-bottom: 0;
}

.plan-highlight {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 170px;
  border: 4px solid #37bbe6;
}
.plan-highlight .plan-button {
  font-size: 18px;
  line-height: 49px;
  background: #37bce5;
  border-color: #3996b3;
  border-color: rgba(0, 0, 0, 0.15);
}

.plan-recommended {
  width: 160px;
  margin: -15px auto 15px;
  padding-bottom: 2px;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.05);
  background: #37bbe6;
  border-radius: 0 0 4px 4px;
}


@media only screen and (max-width: 1130px) {
  .fixed-nav{
    width: 100%;
  }
}

@media only screen and (max-width: 500px){
  a.btn{
    margin-bottom: 10px;
  }

  .poweredby{
    margin-top: 40px;
  }

  .fixed-nav{
    width: auto;
  }
}
